openapi: 3.1.0
info:
  title: LAPRAS public API
  version: '1.0'
  termsOfService: https://corp.lapras.com/terms_of_service/
  description: LAPRAS Public API
  summary: Public API for LAPRAS users.
  contact:
    url: https://corp.lapras.com/inquiry/
    name: LAPRAS Inc.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT.html
servers:
  - url: https://lapras.com
    description: LAPRAS
paths:
  /public/{share_id}.json:
    get:
      summary: Get Public Page Data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPageData'
        '404':
          $ref: '#/components/responses/ErrorResponse'
      operationId: getPublicPageData
      tags:
        - public
      description: Get public page data by share ID.
    parameters:
      - schema:
          type: string
        name: share_id
        in: path
        required: true
        description: Your public page's share ID.
tags:
  - name: public
    description: API for public page.
security: []
components:
  schemas:
    PublicPageData:
      additionalProperties: false
      type: object
      examples:
        - name: string
          description: string
          e_score: 3
          b_score: 3
          i_score: 3
          activities:
            - date: '2019-08-24T14:15:22Z'
              title: string
              type: github
              url: http://example.com
          blog_articles:
            - posted_at: '2019-08-24T14:15:22Z'
              tags:
                - string
              title: string
              url: http://example.com
          events:
            - date: '2019-08-24'
              is_organizer: true
              is_presenter: true
              status: 0
              title: string
              url: http://example.com
          github_repositories:
            - contributions: 0
              contributions_url: http://example.com
              contributors_count: 0
              contributors_url: http://example.com
              description: string
              forks: 0
              id: 0
              is_fork: true
              is_oss: true
              is_owner: true
              language: string
              languages:
                - bytes: 0
                  name: string
              stargazers_count: string
              stargazers_url: http://example.com
              title: string
              url: http://example.com
          note_articles:
            - like_count: 0
              published_at: '2019-08-24T14:15:22Z'
              tags:
                - string
              title: string
              url: http://example.com
          qiita_articles:
            - headlines:
                - string
              stockers_count: 0
              tags:
                - string
              title: string
              updated_at: '2019-08-24T14:15:22Z'
              url: http://example.com
          zenn_articles:
            - posted_at: '2019-08-24T14:15:22Z'
              tags:
                - string
              title: string
              url: http://example.com
          hatena_articles:
            - url: 'http://example.com'
              title: string
              bookmark_count: 0
              tags:
                - string
              published_at: '2019-08-24T14:15:22Z'
          speaker_deck_slides:
            - description: string
              presentation_date: '2019-08-24T14:15:22Z'
              star_count: 0
              title: string
              url: http://example.com
              view_count: 0
          teratail_replies:
            - created_at: '2019-08-24T14:15:22Z'
              is_best_answer: true
              tags:
                - string
              title: string
              url: http://example.com
      title: PublicPageData
      description: LAPRAS public page data.
      x-stoplight:
        id: 3758e36c63888
      properties:
        name:
          type: string
          description: User's display name.
        description:
          type: string
          description: User's profile description.
        e_score:
          type: number
          example: 3
          format: float
          maximum: 5
          minimum: 0
          description: LAPRAS tech score.
        b_score:
          type: number
          example: 3
          format: float
          maximum: 5
          minimum: 0
          description: LAPRAS business score.
        i_score:
          type: number
          example: 3
          format: float
          maximum: 5
          minimum: 0
          description: LAPRAS Influence score.
        activities:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              date:
                type: string
                format: date-time
                readOnly: true
              title:
                type: string
              type:
                enum:
                  - github
                  - github_pr
                  - speaker_deck
                  - qiita
                  - zenn
                  - note
                  - teratail
                  - blog
                  - connpass
                type: string
              url:
                type: string
                format: uri
        blog_articles:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              posted_at:
                type: string
                format: date-time
              tags:
                type: array
                items:
                  type: string
              title:
                type: string
              url:
                type: string
                format: uri
        hatena_articles:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              url:
                type: string
                format: uri
              title:
                type: string
              bookmark_count:
                type: number
              tags:
                type: array
                items:
                  additionalProperties: false
                  type: string
              published_at: 
                type: string
                format: date
        events:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              date:
                type: string
                format: date
              is_organizer:
                type: boolean
              is_presenter:
                type: boolean
              status:
                type: number
              title:
                type: string
              url:
                type: string
                format: uri
        github_repositories:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              contributions:
                type: number
              contributions_url:
                type: string
                format: uri
              contributors_count:
                type: number
              contributors_url:
                type: string
                format: uri
              description:
                type: string
              forks:
                type: number
              id:
                type: number
              is_fork:
                type: boolean
              is_oss:
                type: boolean
              is_owner:
                const: true
                type: boolean
              language:
                type: string
              languages:
                type: array
                items:
                  additionalProperties: false
                  type: object
                  properties:
                    bytes:
                      type: number
                    name:
                      type: string
              stargazers_count:
                type: string
              stargazers_url:
                type: string
                format: uri
              title:
                type: string
              url:
                type: string
                format: uri
        note_articles:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              like_count:
                type: number
              published_at:
                type: string
                format: date-time
              tags:
                type: array
                items:
                  type: string
              title:
                type: string
              url:
                type: string
                format: uri
        qiita_articles:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              headlines:
                type: array
                items:
                  type: string
              stockers_count:
                type: number
              tags:
                type: array
                items:
                  type: string
              title:
                type: string
              updated_at:
                type: string
                format: date-time
              url:
                type: string
                format: uri
        zenn_articles:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              posted_at:
                type: string
                format: date-time
              tags:
                type: array
                items:
                  type: string
              title:
                type: string
              url:
                type: string
                format: uri
        speaker_deck_slides:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              description:
                type: string
              presentation_date:
                type: string
                format: date-time
              star_count:
                type: number
              title:
                type: string
              url:
                type: string
                format: uri
              view_count:
                type: number
        teratail_replies:
          type: array
          items:
            additionalProperties: false
            type: object
            properties:
              created_at:
                type: string
                format: date-time
              is_best_answer:
                type: boolean
              tags:
                type: array
                items:
                  type: string
              title:
                type: string
              url:
                type: string
                format: uri
    Error:
      title: Error
      x-stoplight:
        id: 82le7fdicd9pm
      type: object
      properties:
        error:
          type: boolean
          default: true
          readOnly: true
        message:
          type: string
          example: Not Found
          readOnly: true
      examples: []
  responses:
    ErrorResponse:
      description: Error Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            example of error response:
              value:
                error: true
                message: Not Found
        application/xml:
          schema:
            type: object
            properties: {}
